.topbar {
  background-color: azure;
  box-shadow: 0 0 3px darkgrey;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
}
.btn {
  border: none;
  outline: none;
  border-radius: 10px;
  color: white;
  background-color: rgb(104, 14, 14);
  padding: 5px;
  box-shadow: 0 0 5px black;
}
.addplayerForm {
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 15%;
  position: absolute;
  right: 3%;
  top: 9%;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 5px grey;
  display: none;
}
.inputarena {
  background-color: cornsilk;
  padding: 5px;
  box-shadow: 0 0 1px black;
  margin: 3% 5px;
  border: 0;
  outline: 0;
  border-radius: 7px;
  width: 90%;
}
.btnDiv {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.playCnatin {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
}
img {
  filter: drop-shadow(2px 2px 3px black);
}
