.PlayerDetailsHold {
  box-shadow: 0 0 50px darkgrey;
  width: 30%;
  margin: 5% auto;
  border-top-left-radius: 300px;
  border-bottom-right-radius: 300px;
  border-bottom-left-radius: 200px;
  border-top-right-radius: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-decoration: none;
  border-radius: 50px;
  background: #b30707;
  box-shadow: 20px 20px 60px #770808, -20px -20px 60px #920f0ff6;
}
.ImgHold {
  display: flex;
}
.PlayersDetails > h2 {
  color: goldenrod;
}
.PlayersDetails > h3 {
  color: whitesmoke;
  text-shadow: 0 0 5px black;
}
img {
    filter: drop-shadow(2px 2px 3px black);
  }