.Card {
  box-shadow: 0 0 50px black;
  width: 25%;
  height: 550px;
  margin: 20px;
  text-decoration: none;
  padding: 0 5px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
background: #ffffff;
box-shadow: inset 20px 20px 60px #c5b7cf,
            inset -20px -20px 60px #fff7ff;
}
.ImgContainer {
  width: 100%;
  height: 200px;
  padding: 3px;
}
.ImgContainer > img {
  width: 100%;
  height: 100%;
}
